<div class="row"><div class="col-md-12" style="height: 100px"></div></div>

<div class="row">
	<div class="text-center">
		<h1> {{ messages.welcome }} </h1>
	</div>	
</div>

<div class="row">
	<div class="text-center">
		<h2> {{ messages.details }}</h2>
	</div>
</div>

<div class="row"><div class="col-md-12" style="height:100px"></div></div>
<div class="row">
	<div class="col-md-4" style="width:400px"></div>
	
	<div class="col-md-4" style="outline: 2px solid black">
		<form>
			<div class="form-group">
				<label for="forgotEmail">Email</label>
				<input type="email" class="form-control" placeholder="Email" ng-model="forgotData.email">
				<p> {{ messages.not_found }} </p>
			</div>
			<p>
				<button ng-click="forgotPassword()" class="btn btn-primary">Reset</button>

				<button ng-click="return()" class="btn btn-primary">Return</button>
			<p>
		</form>
	</div>
