<div class="text-center">
	<p> {{ messages.welcome }} </p>
	<p> {{ messages.wrongPass }} </p>
</div>

	<form>
		<div class="form-group">
			<label for="loginUsername">Username</label>
			<input type="username" class="form-control" placeholder="Username" id="username" ng-model="loginData.username">
		</div>
		<div class="form-group">
			<label for="loginPassword">Password</label>
			<input type="password" class="form-control" placeholder="Password" id="password" ng-model="loginData.password">
		</div>
		<p>
		<button ng-click="submit()" class="btn btn-primary">Login!</button>

		<button ng-click="register()" class="btn btn-primary"> {{ messages.register }} </button>
		</p>
	</form>
