<div class="row"><div class="col-md-12" style="height: 100px"></div></div>

<div class="row">
	<div class="text-center">
		<h1> {{ messages.welcome }} </h1>
	</div>	
<div>
<div class="row">
	<div class="text-center">
		<h2> Create an account below </h2>
	</div>	
<div>

<div class="row"><div class="col-md-12" style="height:100px"></div></div>
<div class="row">
<div class="col-md-4" style="width:400px"></div>
	
<div class="col-md-4" style="outline: 2px solid black">
	<form>
		<div class="form-group">
			<label for="newUsername">Username</label>
			<input type="username" class="form-control" ng-model="registerData.username" placeholder="Username">
			<p> {{ messages.wrong_user }} </p>
		</div>
		<div class="form-group">
			<label for="newPassword">Password</label>
			<input type="password" class="form-control" ng-model="registerData.password" placeholder="Password">
		</div>
		<div class="form-group">
			<label for="newPasswordVer">Password again</label>
			<input type="password" class="form-control" ng-model="registerData.passwordVer" placeholder="Password again">
			<p> {{ messages.wrong_pass }} </p>
		</div>
		<div class="form-group">
			<label for="newEmail">Email</label>
			<input type="email" class="form-control" ng-model="registerData.email" placeholder="Email">
			<p> {{ messages.wrong_email }} </p>
		</div>
		<p>
		<button class="btn btn-primary" ng-click="passwordCheck()">Register!</button>
		<button ng-click="returnHome()" class="btn btn-primary">Return</button>
		</p>
	</form>
</div>