<div class="row"><div class="col-md-12" style="height: 100px"></div></div>

<div class="row">
	<div class="text-center">
		<h1> {{ messages.welcome }} </h1>
	</div>	
</div>

<div class="row">
	<div class="text-center">
		<h2> {{ messages.details }} </h2>
	</div>
</div>

<div class="row"><div class="col-md-12" style="height:100px"></div></div>
<div class="row">
	<div class="col-md-4" style="width:400px"></div>
	
	<div class="col-md-4" style="outline: 2px solid black">
		<p> You will receive a confirmation email about the change. Click the button below to return to the homepage</p>
		<button ng-click="returnHome()" class="btn btn-primary">Go to homepage</button>
	</div>
</div>

